<a href="https://colab.research.google.com/github/Vyshnavi67/rishi-college/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=7.5
type(x)

float

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2!= 0 else "Error:Divison by zero"
print(f"Addition = {num1} + {num2} = {addition}")
print(f"Subtraction = {num1} - {num2} = {subtraction}")
print(f"Multiplication = {num1} * {num2} = {multiplication}")
print(f"D1ivision = {num1} / {num2} = {division}")

Enter the first number:10
Enter the second number:5
Addition = 10.0 + 5.0 = 15.0
Subtraction = 10.0 - 5.0 = 5.0
Multiplication = 10.0 * 5.0 = 50.0
D1ivision = 10.0 / 5.0 = 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
num_str = "123"
num_int = int(num_str)
num_float = float(num_str)
print("Original String:",num_str)
print("Integer:",num_int)
print("Float:",num_float)

Original String: 123
Integer: 123
Float: 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
input_str = input("Enter a string:")
first_char = input_str[0]
print("First character:",first_char)

Enter a string:Hello
First character: H

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
input_str = input("Enter a string:")
length = len(input_str)
print("Length of the string:",length)

Enter a string:Rishi
Length of the string: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
input_str = input("Enter a string:")
if input_str.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string does not contain only alphabets.")

Enter a string:vyshnavi
The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
str1 = input("Enter the first string:")
str2 = input("Enter the second string:")
concatenated_str = str1 + str2
print("Concatenated string:",concatenated_str)

Enter the first string:Hello
Enter the second string:Rishi
Concatenated string: Hello Rishi

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
input_str = input("Enter a string:")
sub_str = "abc"
index = input_str.find(sub_str)
if index != -1:
  print(f"Substring '{sub_str}' found at index {index}.")
else:
  print(f"Substring '{sub_str}' not found in the input string.")

Enter a string:mjdhabc
Substring 'abc' found at index 4.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
input_str = input("Enter a string:")
type(input_str)
input_str.swapcase()

Enter a string:Hello World

'hELLO wORLD'

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
input_str = input("Enter a string:")
char_to_count = input("Enter the character to count:")
count = input_str.count(char_to_count)
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string:rishi
Enter the character to count:i
The character 'i' appears 2 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name:")
print(f"Good Moring,{name}!")

Enter your name:abhigna
Good Moring,abhigna!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = float(input("Enter the first number:"))
num2 = float(input("Enter the second number:"))
sum = num1 + num2
print(f"The sum is:{sum}")

Enter the first number:10
Enter the second number:10
The sum is:20.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name:")
age = int(input("Enter your age:"))
print(f"Hello, my name is {name} and I am {age} years old.")

Enter your name:vyshnavi
Enter your age:20
Hello, my name is vyshnavi and I am 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number: "))
if num > 0:
    print(f"{num} is positive.")
elif num < 0:
      print(f"{num} is negative.")
else:
      print(f"{num} is zero.")

Enter a number: -20
-20.0 is negative.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number:"))
num3 = float(input("Enter third number: "))
maximum = max(num1, num2, num3)
print(f"The maximum number is: {maximum}")

Enter first number: 10
Enter second number:54
Enter third number: 98
The maximum number is: 98.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))
if year % 4== 0 and  (year % 100 != 0 or year % 400 == 0):
    print(f"{year} is a leap year.")
else:
     print(f"{year} is not a leap year.")

Enter a year: 2005
2005 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number = int(input("Enter a number: "))
if number % 3 == 0 and number % 5 == 0:
    print(f"The number {number} is divisible by both 3 and 5.")
else:
    print(f"The number {number} is not divisible by both 3 and 5.")

Enter a number: 87
The number 87 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(s):
    return s == s[::-1]

s = input("Enter a string: ")
if is_palindrome(s):
    print(f"'{s}' is a palindrome.")
else:
    print(f"'{s}' is not a palindrome.")

Enter a string: entne
'entne' is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
num = 1
while num <= 20:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(f"The sum of numbers from 1 to {n} is: {sum}")

Enter a number: 34
The sum of numbers from 1 to 34 is: 595

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"The factorial of {num} is: {factorial}")

Enter a number: 10
The factorial of 10 is: 3628800

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence
n = int(input("Enter the number of terms: "))
print("Fibonacci sequence up to", n, "terms:")
print(fibonacci(n))

Enter the number of terms: 5
Fibonacci sequence up to 5 terms:
[0, 1, 1, 2, 3]

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
def find_primes(n):
    primes = []
    for i in range(2, n+1):
        is_prime = True
        for j in range(2, int(i**0.5) + 1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(i)
    return primes

primes = find_primes(100)
print("Prime numbers from 1 to 100:")
print(primes)

Prime numbers from 1 to 100:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 30, 40, 50, 60, 70]
for num in numbers:
    if num > 50:
        print(f"Number greater than 50 found: {num}")
        break
    else:
        print(num)

10
20
30
40
50
Number greater than 50 found: 60

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1, 21):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
char = input("Enter a character: ")
count = 0
for i in string:
    if i == char:
        count += 1
print(f"The character '{char}' appears {count} times in the string.")

Enter a string: maha
Enter a character: h
The character 'h' appears 1 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

num = input("Enter a number: ")
sum_of_digits = sum(int(digit) for digit in num)
print("Sum of digits:", sum_of_digits)

Enter a number: 76
Sum of digits: 13

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print("List of numbers:", numbers)
print("Sum of elements:", total_sum)

List of numbers: [1, 2, 3, 4, 5]
Sum of elements: 15

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = [12, 45, 7, 23, 56, 89, 34]
largest_element = max(numbers)
print("List of numbers:", numbers)
print("Largest element:", largest_element)

List of numbers: [12, 45, 7, 23, 56, 89, 34]
Largest element: 89

In [ ]:
# Write a Python program to reverse a list.
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Original List:", my_list)
print("Reversed List:", reversed_list)
my_list.reverse()
print("Reversed List (in-place):", my_list)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]
Reversed List (in-place): [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
my_list = [1, 2, 2, 3, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print("Original List:", [1, 2, 2, 3, 4, 2, 5])
print("List after removing", element_to_remove, ":", my_list)
my_list = [1, 2, 2, 3, 4, 2, 5]
while element_to_remove in my_list:
    my_list.remove(element_to_remove)
print("List after removing", element_to_remove, ":", my_list)

Original List: [1, 2, 2, 3, 4, 2, 5]
List after removing 2 : [1, 3, 4, 5]
List after removing 2 : [1, 3, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
my_list = [1, 2, 3, 4, 5]
element_to_find = 3
try:
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} is: {index}")
except ValueError:
    print(f"{element_to_find} is not in the list.")
for i, x in enumerate(my_list):
    if x == element_to_find:
        print(f"The index of {element_to_find} is: {i}")
        break
else:
    print(f"{element_to_find} is not in the list.")

The index of 3 is: 2
The index of 3 is: 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.
my_list = [1, 2, 3, 4, 5]
element_to_check = 3
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")
if my_list.count(element_to_check) > 0:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.
3 exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_list = list(set(my_list))
print("Original List:", my_list)
print("List without duplicates:", unique_list)
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print("List without duplicates (preserving order):", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5, 6, 6]
List without duplicates: [1, 2, 3, 4, 5, 6]
List without duplicates (preserving order): [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
element_to_count = 4
count = my_list.count(element_to_count)
print("List:", my_list)
print("Element:", element_to_count)
print("Occurrences:", count)
count = sum(1 for x in my_list if x == element_to_count)
print("Occurrences (alternative method):", count)

List: [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
Element: 4
Occurrences: 4
Occurrences (alternative method): 4

In [ ]:
# Write a Python program to get the number of even numbers in a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
print("List of numbers:", numbers)
print("Number of even numbers:", even_count)
even_count = len([num for num in numbers if num % 2 == 0])
print("Number of even numbers (alternative method):", even_count)

List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Number of even numbers: 5
Number of even numbers (alternative method): 5

In [ ]:
# Write a Python program to create a tuple and print it.
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])
try:
    my_tuple[0] = 10
except TypeError:
    print("Tuples are immutable and cannot be modified.")

Tuple: (1, 2, 3, 4, 5)
First element: 1
Last element: 5
Tuples are immutable and cannot be modified.

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)
my_list = list(my_tuple)
print("List:", my_list)
my_tuple_again = tuple(my_list)
print("Tuple again:", my_tuple_again)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]
Tuple again: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (12, 45, 7, 23, 56, 89, 34)
print("Tuple:", my_tuple)
max_value = max(my_tuple)
print("Maximum value:", max_value)
min_value = min(my_tuple)
print("Minimum value:", min_value)
max_value = my_tuple[0]
min_value = my_tuple[0]
for num in my_tuple:
    if num > max_value:
        max_value = num
    elif num < min_value:
        min_value = num
print("Maximum value (alternative method):", max_value)
print("Minimum value (alternative method):", min_value)

Tuple: (12, 45, 7, 23, 56, 89, 34)
Maximum value: 89
Minimum value: 7
Maximum value (alternative method): 89
Minimum value (alternative method): 7

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = ("John", 25, "New York")
name, age, city = my_tuple
print("Name:", name)
print("Age:", age)
print("City:", city)
my_tuple = (1, 2, 3, 4, 5)
a, b, *c = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)
my_tuple = (1, 2, 3, 4, 5)
a, *b, c = my_tuple
print("a:", a)
print("b:", b)
print("c:", c)

Name: John
Age: 25
City: New York
a: 1
b: 2
c: [3, 4, 5]
a: 1
b: [2, 3, 4]
c: 5

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}
print("Original Set:", my_set)
my_set.add(6)
print("Set after adding 6:", my_set)
element_to_check = 4
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")
element_to_check = 7
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Original Set: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}
4 exists in the set.
7 does not exist in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {}
my_dict["name"] = "John Doe"
my_dict["age"] = 30
my_dict["city"] = "New York"
print("Dictionary:", my_dict)
my_dict = dict(name="Jane Doe", age=25, city="Los Angeles")
print("Dictionary using dict() constructor:", my_dict)
my_dict = {key: value for key, value in [("name", "John Doe"), ("age", 30), ("city", "New York")]}
print("Dictionary using dictionary comprehension:", my_dict)

Dictionary: {'name': 'John Doe', 'age': 30, 'city': 'New York'}
Dictionary using dict() constructor: {'name': 'Jane Doe', 'age': 25, 'city': 'Los Angeles'}
Dictionary using dictionary comprehension: {'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])
print("Name:", person.get("name"))
print("Age:", person.get("age"))
print("City:", person.get("city"))

Name: John Doe
Age: 30
City: New York
Name: John Doe
Age: 30
City: New York

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
key_to_check = "name"
if key_to_check in person:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")
key_to_check = "country"
if key_to_check in person:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'name' exists in the dictionary.
The key 'country' does not exist in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"d": 4, "e": 5, "f": 6}
merged_dict = {**dict1, **dict2}
print("Dictionary 1:", dict1)
print("Dictionary 2:", dict2)
print("Merged Dictionary:", merged_dict)
dict1.update(dict2)
print("Updated Dictionary 1:", dict1)

Dictionary 1: {'a': 1, 'b': 2, 'c': 3}
Dictionary 2: {'d': 4, 'e': 5, 'f': 6}
Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
Updated Dictionary 1: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
# Write a Python program to remove a key from a dictionary.
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print("Original Dictionary:", person)
key_to_remove = "age"
if key_to_remove in person:
    del person[key_to_remove]
    print(f"The key '{key_to_remove}' has been removed.")
else:
    print(f"The key '{key_to_remove}' does not exist in the dictionary.")
print("Updated Dictionary:", person)
person.pop("city", None)
print("Dictionary after popping 'city':", person)

Original Dictionary: {'name': 'John Doe', 'age': 30, 'city': 'New York'}
The key 'age' has been removed.
Updated Dictionary: {'name': 'John Doe', 'city': 'New York'}
Dictionary after popping 'city': {'name': 'John Doe'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
num_keys = len(person)

print("Dictionary:", person)
print("Number of keys:", num_keys)

Dictionary: {'name': 'John Doe', 'age': 30, 'city': 'New York'}
Number of keys: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
person = {
    "age": 30,
    "height": 175,
    "weight": 70
}
largest_value = max(person.values())
smallest_value = min(person.values())
print("Dictionary:", person)
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Dictionary: {'age': 30, 'height': 175, 'weight': 70}
Largest value: 175
Smallest value: 30

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [5]:
# Write a Python function that returns the square of a number.
result = square(5)
print(result)

25

In [12]:
# Write a Python function that accepts two parameters and returns their sum.
num1 = 3
num2 = 4
sum = num1 + num2
print(sum)

7

In [20]:
# Write a Python function to check if a given number is prime.
n = 23
def is_prime(n):
    if n <= 1:
        print(False)
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print(False)
    print(True)

In [19]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [35]:
# Write a Python function to check if a number is even or odd using the modulo operator.```
def check_even_odd(num):
    if num % 2 == 0:
        return f"{num} is even."
    else:
        return f"{num} is odd."
num = int(input("Enter a number: "))
print(check_even_odd(num))

Enter a number: 65
65 is odd.

In [34]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [i ** 2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [32]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "cat", "dog", "elephant", "fish"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'elephant']

In [31]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "Hello, World!"
uppercase_letters = [char for char in string if char.isupper()]
print(uppercase_letters)

['H', 'W']

In [30]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib_sequence = [0, 1]
    [fib_sequence.append(fib_sequence[-1] + fib_sequence[-2]) for _ in range(n - 2)]
    return fib_sequence[:n]
n = int(input("Enter the number of Fibonacci numbers to generate: "))
print(fibonacci(n))

Enter the number of Fibonacci numbers to generate: 2
[0, 1]

In [28]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
numbers = range(1, 11)
squares_dict = {num: num ** 2 for num in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]
dictionary = {key: value for key, value in zip(keys, values)}
print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [26]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {num: num ** 3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [25]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [24]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [23]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
numbers = [15, 30, 45, 60, 75, 90]
for num in numbers:
    if divisible_by_3_and_5(num):
        print(f"{num} is divisible by both 3 and 5")
    else:
        print(f"{num} is not divisible by both 3 and 5")

15 is divisible by both 3 and 5
30 is divisible by both 3 and 5
45 is divisible by both 3 and 5
60 is divisible by both 3 and 5
75 is divisible by both 3 and 5
90 is divisible by both 3 and 5

In [22]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
multiplied_numbers = list(map(lambda x: x * 2, numbers))
print(multiplied_numbers)

[2, 4, 6, 8, 10]

In [21]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
numbers_without_element = [num for num in numbers if num != element_to_remove]
print(numbers_without_element)

[1, 3, 4, 5, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`